body {
  width: 1336px;
  margin: 0 auto;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-logo-image {
  object-fit: cover;
  object-position: left;
  width: 46px;
  height: 44px;
}

.header-logo:hover .header-logo-image,
.header-logo:hover .header-logo-text {
  color: rgb(221, 91, 30);
  object-position: right;
}

.container {
  color: white;
  width: 1140px;
  margin: 49px auto 0 auto;
}

.header-logo {
  display: flex;
}

.header-logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.header-logo-text-milan {
  font-size: 29px;
}

.header-logo-text-holidays {
  font-size: 18px;
}

.tour-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.tour-item:hover .image-hover-box {
  visibility: visible;
  opacity: 1;
}

.tour-item-text {
  text-align: center;
  padding-top: 22px;
  font-size: 18px;
}

.tour-item:hover .tour-item-text {
  transition: 0.3s;
  color: rgba(255, 89, 0);
}

.image-hover-box-price,
.image-hover-box-details {
  padding-bottom: 15px;
}

.image-price,
.details {
  font-size: 12px;
}

.image-price-from {
  font-size: 9px;
  padding-bottom: 5px;
}

.image-hover-box {
  background-color: rgba(255, 89, 0, 0.8);
  padding: 0 48px 0 20px;
  position: absolute;
  bottom: 43px;
  height: 60px;
  width: 242px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  align-items: end;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-details {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-details-email {
  padding-bottom: 5px;
}

.tour-images {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-item-image {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(180deg, white, black) 1;
}

.item-container {
  margin-bottom: 58px;
}

.main-container {
  width: 1140px;
  margin: 49px auto 0 auto;
}

footer {
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
  width: 1140px;
  margin: 0 auto 20px auto;
}

a {
  color: inherit;
  text-decoration: none;
}
