html {
  width: 1336px;
}

body {
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: white;
  margin: 49px 150px 0 157px;
  display: grid;
}
.font-verdana{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 17fr 1fr;
  align-items: end;
}

.logo-text {
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 61px;
  font-size: 12px;
}

.logo {
  width: 46px;
  height: 44px;
}

.logo-text>p:nth-of-type(1) {
  font-size: 29px;
}

.logo-text>p:nth-of-type(2) {
  font-size: 18px;
}

.details {
  text-align: right;
  font-size: 18px;
}

.details>p:nth-of-type(1) {
  padding-bottom: 5px;
}

.main {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 58px 54px;
}

.main-image {
  width: 307px;
  height: 200px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(180deg, white, black) 1;
}

figcaption {
  padding-top: 22px;
  text-align: center;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}