body {
  width: 1336px;
  margin: 0 auto;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 1140px;
  margin: 49px auto 0 auto;
}
.header {
  color: white;
  display: grid;
  grid-template-columns: 1fr 17fr;
  align-items: end;
}

.header-details {
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.header-details-email {
  padding-bottom: 5px;
}

.header-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-logo-text-milan {
  font-size: 29px;
}

.header-logo-text-holidays {
  font-size: 18px;
}

.header-logo-image {
  object-fit: cover;
  object-position: left;
  width: 46px;
  height: 44px;
}

.header-logo:hover .header-logo-image,
.header-logo:hover .header-logo-text {
  color: rgb(221, 91, 30);
  object-position: right;
}

.image-price,
.details {
  font-size: 12px;
}

.image-price-from {
  padding-bottom: 5px;
  font-size: 9px;
}

.tour-item {
  position: relative;
}

.image-hover-box {
  width: 311px;
  background-color: rgba(255, 89, 0, 0.8);
  position: absolute;
  bottom: 42px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tour-item-text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 22px;
}

.tour-item:hover .image-hover-box {
  visibility: visible;
  height: 60px;
  opacity: 1;
}

.image-hover-box-details,
.image-hover-box-price {
  padding-left: 20px;
  padding-bottom: 20px;
}

.tour-item:hover .image-hover-box {
  visibility: visible;
}

.tour-item:hover .tour-item-text {
  color: rgba(255, 89, 0);
}

.header-logo-text {
  padding-left: 15px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.main-container {
  width: 1140px;
  margin: 48px auto 0 auto;
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.footer-container {
  width: 1140px;
  margin: 61px auto 20px auto;
}

.tour-images {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 58px 103px;
}

.tour-item-image {
  width: 307px;
  height: 200px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(180deg, white, black) 1;
}

a {
  color: inherit;
  text-decoration: none;
}