body {
  width: 1480px;
  margin: 0 auto;
  font-family: sans-serif;
}
.container {
  width: 1280px;
  margin: 61px auto 0 auto;
}
main {
  display: flex;
  justify-content: space-between;
}
nav.container{
    margin-top: 45px;
}

.logo-ra {
  font-size: 80px;
  color: black;
}
.logo-mda {
  color: #4bcaff;
}

.header-menu {
  background-color: #35444f;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.header-menu-item {
  color: white;
  padding: 20px 30px;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}
.header-menu-item:hover {
  background-color: #222f3a;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

aside {
  width: 344px;
  display: flex;
  align-items:start;

}
.sidebar {
    flex: 1;
    border: 1px solid black;
}
.sidebar-item:hover {
  padding-left: 70px;
  transition: All 0.4s ease;
  color: black;
  background: rgb(220, 220, 220);
}

.sidebar-item {
  display: block;
  padding-left: 44px;
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(70, 87, 99);
}


.ramda-image {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  padding: 75px 0;
}

img {
  width: 320px;
  transition: transform 0.3s;
}
img:hover {
  transform: scale(1.45);
}

section {
  width: 874px;
  text-align: justify;
  font-size: 18px;
  line-height: 24px;
}
a {
  text-decoration: none;
}
article {
  padding: 50px 25px;
}
.ramda-para-1 {
  padding-bottom: 30px;
}

footer {
  font-size: 28px;
  padding-top: 22px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-around;
  color: #0c1927;
  background-color: rgb(99, 105, 110, 0.48);
}

a:visited {
  text-decoration: none;
}

.footer-menu-item {
  margin-left: 20px;
}
.copyright {
  padding-right: 33px;
  font-size: 24px;
}
.footer-link {
  color: black;
}
.footer-link:hover {
  transition: 0.6s;
  cursor: pointer;
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

footer.container{
    margin: 0 auto 30px auto;
}

main.container {
  margin-top: 51px;
}
