html {
  width: 1480px;
  margin: 0 auto;

}
.container {
  width: 1280px;
  margin: 61px 100px 30px 100px;
}


.header-fontsize{
    font-size: 80px;
}
.header-end{
    color: #4bcaff;
}
h1{
    margin-bottom: 45px;
}
.navigation-styling{
    background-color: #35444f;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
}

.column-header{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.li-styling{
    display: inline-block; 
    padding: 26px 20px;
    color: white;
    padding: 20px 30px;
    transition: 0.3s;
}

.li-hover:hover{
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;



}

.aside-styling{
    border: 1px solid grey;
    font-size: 27px;
    width:344px;
    display: inline-block;
    vertical-align: top;
}

.aside-li-styling{
    height: 78px;
    display: flex;
    justify-content: left;
    align-items: center;  
    padding-left: 44px;  

}

.selected:hover{
    padding-left:60px;
    background-color: #dbdbdb;

}
a{
    text-decoration: none;
    color: #495863;
}

.main-container{
    display: inline-block;
    margin-left: 52px;
    width: 874px;
   
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1px solid grey;
    width: 874px;
    height:529px;
}

img{
    width: 320px;
    height: 381px;
    transition: transform 0.3s;
}
img:hover{
transform: scale(1.3); 
}


section{
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 40px;
 
}


.p-margintop{
    margin-top: 30px;
}
.section-styling{
    line-height: 24px;
    color:#2c2c2c;


}
.footer-styling{
    font-size: 28px;
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    color: #0c1927;
    width: 100%;
    background-color: rgb(99, 105, 110, 0.48);
    margin-top:51px;
}

.left-footer-styling{
     display: flex;
    flex-direction: row;
    padding-left: 44px;
}

.right-footer{
    padding-right: 33px;
    font-size: 24px;
    
}
.footer-li-styling{
    margin-left: 20px;
}
.left-footer-styling > a{
    color: black;
}
.left-footer-styling > a > li:hover{
    cursor: pointer;
    color:#3181a6;
   border-bottom: 1px solid #3181a6;
}
