@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.header{
  font-size: 18px;
   font-family: "Roboto";
}

.li-styling {
  display: inline-block;
  letter-spacing: 2.7px;
  line-height: 22.22px;
  margin-top: 32px;
  margin-bottom: 35px;
  margin-right: 65px;
}

.li-margin-left-332{
  margin-left: 332px;
}

.li-m-r-345{
  margin-right: 345px;
}


.text-color {
  color: #16a085;
}

.m-15 {
  margin: 15px;
}
.fold-bold {
  font-weight: 900;
}

img {
  width: 100%;
  height: 790px;
}

.main{
  background-color: #f5f6f8;
  color: #373737;
  text-align: center;
}

.h1-styling{
  font-size: 22px;
  letter-spacing: 3.3px;
  margin: 59px 0px 34px 0px;
}

.font-roboto {
  font-family: "Roboto";
}

.section-styling{
  margin: 0px 108px 0px 113px;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 2.4px;
  margin-top: 30px;
}

.button-styling{
  font-size: 12px;
  border: 0px;
  width: 192px;
  height: 51px;
  line-height: 20px;
  letter-spacing: 1.8px;
  color: white;
  border-radius: 5px;
  margin: 41px 0px 94px 0px;
  background-color: #16a085;
}

.footer-styling{
  text-align: right;
  height: 108px;
  letter-spacing: 2.4px;
  font-size: 16px;
}

.p-padding{
  padding: 47px 104px 45px 0px;
}  

.linkcolor{
  color:inherit;
}